<!DOCTYPE html>
<html>
<head>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/styles")
    @Scripts.Render("~/bundles/modernizr")
    <script type = 'text/javascript' >
        var appInsights=window.appInsights||function(config)
        {
            function r(config){ t[config] = function(){ var i = arguments; t.queue.push(function(){ t[config].apply(t, i)})} }
            var t = { config:config},u=document,e=window,o='script',s=u.createElement(o),i,f;for(s.src=config.url||'//az416426.vo.msecnd.net/scripts/a/ai.0.js',u.getElementsByTagName(o)[0].parentNode.appendChild(s),t.cookie=u.cookie,t.queue=[],i=['Event','Exception','Metric','PageView','Trace','Ajax'];i.length;)r('track'+i.pop());return r('setAuthenticatedUserContext'),r('clearAuthenticatedUserContext'),config.disableExceptionTracking||(i='onerror',r('_'+i),f=e[i],e[i]=function(config, r, u, e, o) { var s = f && f(config, r, u, e, o); return s !== !0 && t['_' + i](config, r, u, e, o),s}),t
        }({
            instrumentationKey:'0d3f6433-0b51-43d4-b7a0-efddc7397adc'
        });
        
        window.appInsights=appInsights;
        appInsights.trackPageView();
    </script>
</head>
<body class="font-flower">
    <nav class="black">
        <div class="nav-wrapper">
            <a class="brand-logo" href="@Url.Action("Index","Home")">
                <img src="~/Content/img/text_logo.png" class="responsive-img custom-logo"/>
            </a>
            <a href="#" data-activates="mobile-demo" class="button-collapse black-text"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li>@Html.ActionLink("Home", "Index", "Home",null, new { @class ="pink-text bold"} )</li>
                <li>@Html.ActionLink("About", "About", "Home",null, new { @class = "yellow-text bold" })</li>
                <li>@Html.ActionLink("Contact", "Contact", "Home",null, new { @class = "orange-text bold" })</li>
                @Html.Partial("_LoginPartial")
            </ul>
            <ul class="side-nav" id="mobile-demo">
                <li>@Html.ActionLink("Home", "Index", "Home",null, new { @class = "black-text" })</li>
                <li>@Html.ActionLink("About", "About", "Home",null, new { @class = "black-text" })</li>
                <li>@Html.ActionLink("Contact", "Contact", "Home",null, new { @class = "black-text" })</li>
                @Html.Partial("_LoginPartial")
            </ul>
        </div>
    </nav>
    <div>
        @RenderBody()
    
        <footer class="page-footer grey darken-3">
            <div class="container">
                <div class="row">
                    <div class="col l6 s12">
                        <h5 class="bold yellow-text text-darken-2">VISIT OR CALL</h5>
                        <p class="grey-text text-lighten-4">2400 Coffee Street. <br />
                            Chihuahua, Chih;<br />
                            Phone Number (614) 136-77-27
                        </p>
                        <h5 class="bold yellow-text text-darken-2">EMAIL</h5>
                        <p>
                            <span class="teal-text text-darken2">melissarules@gmail.com</span>
                        </p>
                    </div>
                    <div class="col l4 offset-l2 s12">
                        <h5 class="bold yellow-text text-darken-2">CHECK OUR PAGE</h5>
                        <ul>
                            <li>@Html.ActionLink("Home", "Index", "Home", null, new { @class = "white-text" })</li>
                            <li>@Html.ActionLink("About", "About", "Home", null, new { @class = "white-text" })</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home", null, new { @class = "white-text" })</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container center">
                    <span class="font-monkey bold">Argos Pet Shop © 2017</span> 
                </div>
            </div>
        </footer>
    </div>

   @Scripts.Render("~/bundles/jquery")
   @Scripts.Render("~/bundles/pagescripts")
   @Scripts.Render("~/bundles/materialize")
   @RenderSection("scripts", required: false)
</body>
</html>
