@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right black-text" }))
    {
        @Html.AntiForgeryToken()
        if (User.IsInRole("User"))
        {
            <li>
                <a class="purple-text bold" href="@Url.Action("Managment","UserManagment")">User Managment</a>
            </li>
        }
        else if (User.IsInRole("Veterinarian"))
        {
            <li>
                <a class="purple-text bold" href="@Url.Action("AppointmentManagment","VetManagment")">Administration</a>
            </li>
        }

        <li><a class="indigo-text bold" href="javascript:document.getElementById('logoutForm').submit()">Logout</a></li>
    }
}
else
{
     <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "purple-text bold" })</li>
     <li>@Html.ActionLink("Login", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "indigo-text bold" })</li>
}